<%= link_to('login', new_user_session_path) %>
<%= link_to('logou', destroy_user_session_path, :mrthod => :delete) %>
<%= link_to('Sign up', new_user_registration_path) %>
<h1>


  <%= @message %>

</h1>